{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <h1>Task Master</h1>
    <h4>Hello, {{ username }}</h4>
    <table>
        <tr>
            <th>Task</th>
            <th>Created on</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>
                {{ task.name }}
            </td>
            <td>
                {{ task.created.date() }}
            </td>
            <td>
                <a href="/update/{{ task.id }}">Update</a>
                <br>
                <a href="/delete/{{ task.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="{{ url_for('index') }}" method="POST">
        {{ hidden_tag() }}
        {{ form.name }}
        {{ form.submit }}
    </form>
</div>
{% endblock %}