{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<a href="{{ url_for('logout') }}"><button type="button" class="btn btn-danger logout">Logout</button></a>

<div class="main-content">
    <a class="head" href="{{ url_for('index') }}"><h1>Task Master</h1></a>
    <h4>Hello, {{ username }}</h4>
    <br>
    <form action="{{ url_for('index') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name(class_="form-input", placeholder="Enter task", autofocus=true) }}
        {{ form.submit }}
    </form>
    <br>
    <br>
    {% if tasks %}
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Date Created</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.created.date() }}</td>
                    <td><a href="/update/{{ task.id }}">Update</a></td>
                    <td><a href="/delete/{{ task.id }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No Tasks! Add Tasks to Display!</h4>
    {% endif %}
</div>
{% endblock %}