{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block body %}

<div>
    <h1>Task Master</h1>
    <h4>Hello, {{ username }}</h4>

    <form action="{{ url_for('index') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name }}
        {{ form.submit }}
    </form>

    <table>
        <tr>
            <th>Task</th>
            <th>Created on</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>
                {{ task.name }}
            </td>
            <td>
                {{ task.created.date() }}
            </td>
            <td>
                <a href="/update/{{ task.id }}">Update</a>
                <br>
                <a href="/delete/{{ task.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}