{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<form action="{{ url_for('login') }}" method="POST">
    <h1 style="text-align: center;">LOGIN</h1>
    {{ form.hidden_tag() }}
    {{ form.username.label }} <br>
    {{ form.username }} <br><br>
    {{ form.password.label }} <br>
    {{ form.password }} <br>
    {{ form.remember }} {{ form.remember.label }} <br><br>
    {{ form.submit(class_="submit") }} <br><br>
    <a href="{{ url_for('register') }}" style="color: inherit;">Don't have an account? Create now!</a>
</form>
{% endblock %}