{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<form action="{{ url_for('login') }}" method="POST" class="auth">
    <h1 style="text-align: center;">LOGIN</h1>
    {{ form.hidden_tag() }}

    {{ form.username.label }} <br>
    {% if form.username.errors %}
        {{ form.username(class_="is-invalid", placeholder="Enter username") }}
        <div class="invalid-feedback">
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <br>
    {% else %}
        {{ form.username(placeholder="Enter username") }} <br><br>
    {% endif %}

    {{ form.password.label }} <br>
    {% if form.password.errors %}
        {{ form.password(class_="is-invalid", placeholder="Enter password") }}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <br>
    {% else %}
        {{ form.password(placeholder="Enter password") }} <br><br>
    {% endif %}

    {{ form.remember }} {{ form.remember.label }} <br><br>
    {{ form.submit(class_="submit") }} <br><br>
    <a href="{{ url_for('register') }}" style="color: inherit;">Don't have an account? Create now!</a>
</form>
{% endblock %}