* {
    font-family: monospace;
}

.main-content {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

.auth {
    font-weight: bold;
    width: 20%;
    margin: auto;
    background-color: rgba(255, 215, 0, 0.6);
    padding: 0 20px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 12%;
    padding: 20px 0;
    text-align: center;
}

.form-input {
    width: 50%;
}

.logout {
    position: absolute;
    top: 15px;
    right: 15px;
}